<p style="color: green"><%= notice %></p>

<% content_for :title, "Shows" %>

<h1>Shows</h1>

<div id="shows">
  <% @shows.each do |show| %>
    <%= render show %>
    <p>
      <%= link_to "Show this show", admin_show_path(show) %>
    </p>
  <% end %>
</div>

<%= link_to "New show", new_admin_show_path %>
